@keyframes blink {
  0% {
    color: #38e70e;
  }
  30% {
    color: #5812da;
  }
  60% {
    color: #16c7f3;
  }
  80% {
    color: #ff4c90;
  }
  100% {
    color: #38e70e;
  }
}
#todo {
  display: none;
  width: 45%;
  margin-left: 20px;
  z-index: 2;
}
#todo input {
  width: 100%;
  padding: 3px;
  outline: none;
}
#todo textarea {
  width: 100%;
  height: 50px;
  padding: 3px;
  outline: none;
}
.todo-box {
  margin-top: 10px;
}
.todo-box-header {
  margin-bottom: 19px;
}
.todo-box-button {
  text-align: right;
}
.badge {
  font-size: 10px;
  text-align: right;
  width: 15px;
  height: 15px;
  text-align: center;
}
.badge-active {
  background-color: rgb(113, 29, 142);
  border-radius: 50%;
  color: white;
}

.box_flex {
  display: flex;
  flex-flow: row wrap;
}

#menu-box {
  position: absolute;
  z-index: 10000;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #16c7f3;
}

.show-menu {
  animation: menu-show 0.3s ease-in-out forwards;
}

.hide-menu {
  animation: menu-hide 0.2s ease-in-out forwards;
}

#menu-logo {
  position: absolute;
  padding: 10px;
  cursor: pointer;
  right: 0;
  z-index: 10001;
}

@keyframes menu-show {
  0% {
    opacity: 0;
    top: calc(-100vh);
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes menu-hide {
  100% {
    opacity: 1;
    top: calc(-100vh);
  }
  0% {
    opacity: 1;
    top: 0px;
  }
}

.cards {
  display: flex;
}

#menu-box ul li {
  flex: 1 1 300px;
  height: 50px;
  text-align: center;
}

body {
  margin: 0;
}

#todo {
  width: 45%;
}

#calendarLayout {
  width: 50%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

@media (max-width: 500px) {
  .cards {
    display: inherit;
  }
}
@media (max-width: 700px) {
  #todo {
    width: 100%;
  }

  #calendarLayout {
    width: 100%;
  }
}

.c-box-animation {
  animation: outside-box 0.35s ease-in reverse;
}

@keyframes outside-box {
  0% {
    position: absolute;
    opacity: 1;
  }
  100% {
    position: absolute;
    opacity: 0;
    left: 500px;
    top: 1000px;
  }
}

.open-menu-animation {
  animation: open-menu 0.5s ease-in-out forwards;
}

.close-menu-animation {
  animation: close-menu 0.5s ease-in-out forwards;
}

@keyframes open-menu {
  0% {
    top: -1500px;
  }
  100% {
    top: 0px;
  }
}
@keyframes close-menu {
  100% {
    top: -1500px;
  }
  0% {
    top: 0px;
  }
}

.menu {
  padding: 0px 26px;
  display: none;
}
.cards li {
  cursor: pointer;
}

.cards li:hover {
  color: #5812da;
}

.sub-title {
  font-weight: bold;
  margin-right: 10px;
}

.mb5 {
  margin-bottom: 5px;
}

.todo-checkbox {
  width: 16px !important;
  height: 16px !important;
}

.calendar-list-box-mask {
  position: absolute;
  right: 10px;
  width: 46%;
  background-color: black;
  z-index: 1;
  top: 0;
  bottom: 0;
}

.calendar-list-box {
  color: white;
  position: absolute;
  right: 10px;
  width: 46%;
  font-size: 11px;
  font-weight: 200;
  z-index: 0;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  padding: 45px 0;
}

.icon {
  cursor: pointer;
}
.msg-list-date {
  color: #5d2e7f;
  font-size: 12px;
  font-weight: bold;
}
.msg-list-msg {
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 20px;
}

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 6px; /* 세로스크롤 폭 */
  height: 6px; /* 가로스크롤 높이 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 6px;
}

/* 스크롤바 막대(thumb) */
::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 6px;
}

/* 마우스 오버 시 thumb */
::-webkit-scrollbar-thumb:hover {
  background: #313131;
}

.today {
  background-color: rgba(166, 0, 255, 0.159);
}
.today span {
  color: rgb(172, 75, 227);
}
.list-today {
  color: rgb(202, 227, 75);
}
.work-time-box {
  margin-top: 10px;
  text-align: right;
}

.work-time-box input {
  border: 1px solid #801dea;
  outline: none;
  color: #16c7f3;
  background-color: rgb(105, 28, 146);
}

.saved-work-time {
  color: yellow !important;
}

.tryangle-icon {
  position: absolute;
  top: 2;
  right: 2;
  border-right: 6px solid rgb(138, 2, 192);
  border-bottom: 6px solid transparent;
}

.date {
  text-align: left;
  width: 100%;
  position: relative;
}

.event-love-date {
  color: red;
}

.이브 {
  font-size: 11px;
  color: rgb(225, 22, 161);
}
.나나 {
  font-size: 11px;
  color: rgb(230, 255, 2);
}
.광주,
.경주,
.대구 {
  font-size: 11px;
  color: rgb(36, 90, 165);
}
