.scene {
  width: 400px;
  height: 400px;
  /* margin: 50px auto; */
  perspective: 400px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

/* 면 스타일 */
.face {
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.008);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 각 면 배치 */
.front {
  transform: rotateY(0deg) translateZ(200px);
}
.back {
  transform: rotateY(180deg) translateZ(200px);
}
.right {
  transform: rotateY(90deg) translateZ(200px);
}
.left {
  transform: rotateY(-90deg) translateZ(200px);
}
.top {
  transform: rotateX(90deg) translateZ(200px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(200px);
}

.buttons {
  text-align: center;
  margin-top: 420px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
}
