#dark {
  background-color: black;
}
#dark .순도 {
  color: #f0e10d;
}
#dark .우현 {
  color: #2be2c3;
}
#dark .쿠폰 {
  color: #ff13c4;
}
#dark .title {
  padding: 10px;
  font-size: 11px;
  font-weight: bold;
  color: #dadd20;
}
#dark select {
  height: 30px;
  border: 1px solid #663399;
  background-color: #462079;
  padding: 3px;
  margin: 2px 2px 2px 2px;
  color: #756597;
  outline: none;
}
#dark button {
  border: 1px solid #663399;
  background-color: #462079;
  margin: auto 2px;
  color: #756597;
  padding: 2px 10px;
  font-size: 11px;
}
#dark button:hover {
  background-color: #5c2e99;
  color: #fbff00;
}
#dark .remove {
  height: 21px;
  position: absolute;
  padding: 0 6px;
}
#dark ul {
  padding: 0;
  margin: 10px 0;
  list-style-type: none;
}
#dark #whosCoffee {
  color: #38e70e;
  font-size: 14px;
  margin-left: 10px;
  animation: blink 1s infinite;
}
#dark #calendarBox {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}
#dark .box {
  border: 1px solid #1c1c1c;
}
#dark .content {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
#dark .content span {
  margin: auto;
}
#dark .box div {
  text-align: center;
}
#dark .empty-box {
  border: 1px solid #141414;
}
#dark .box .date {
  color: #929292;
}
#dark .empty-box .date {
  color: #4b4b4b;
}
#dark #calendarLayout {
  width: 50%;
}
#dark #calendarInfo {
  text-align: right;
  height: 50px;
}
#dark #calendarInfo span {
  font-size: x-large;
  color: #4f4f4f;
  margin: 10px;
}
#dark .lunar-date {
  font-size: 11px;
  color: #756597;
}
#dark .event-date {
  font-size: 11px;
  color: #ffcf4b;
  margin-left: 5px;
}
#dark .holi-date {
  font-size: 11px;
  color: #9643ef;
  margin-left: 5px;
}
#dark .term-date {
  font-size: 11px;
  color: #717171;
  margin-left: 5px;
}
#dark .btn {
  cursor: pointer;
  user-select: none;
}
#dark .btn:hover {
  color: #462079 !important;
}
#dark .sunday {
  color: #474747;
}
#dark .saturday {
  color: #565656;
}
#dark .holiday {
  background-color: #46464659;
}
#dark #todo input,
#dark #todo textarea {
  border: 1px solid #663399;
  background-color: #462079;
  color: #756597;
}
#dark .c-box-active {
  background-color: #462079;
}
#dark .todo-box-header {
  color: #be9bc3;
}

@media (max-width: 768px) {
  #dark #calendarLayout {
    width: 100%;
  }

  #dark #calendarInfo {
    text-align: center;
  }
}
